#  Data Cleaning

Now since we have extracted data from the website, it is not cleaned and ready to be analyzed yet. The reviews section will need to be cleaned for punctuations, spellings and other characters.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [9]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [10]:
df.head()

                                             reviews
0     Flew with British Airways club Europe on Sa...
1     Straightforward check in T5. New site for c...
2   I am beyond upset and disgusted with the disr...
3     I purchased round trip direct flight busine...
4   I booked two business class seats. We had a m...

We will also create a column which mentions if the user is verified or not.

In [11]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [12]:
df['verified']

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: verified, Length: 1000, dtype: bool

## Cleaning Reviews
We will extract the column of reviews into a separate dataframe and clean it for semantic analysis

In [ ]:
#for lemmatization of words we will use nltk library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()


reviews_data = df.reviews.str.strip("âœ… Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [ ]:
# add the corpus to the original dataframe

df['corpus'] = corpus

In [ ]:
df.head()

## Cleaning/Fromat date

In [ ]:
df.dtypes

In [ ]:
# convert the date to datetime format

df.date = pd.to_datetime(df.date)