Data Cleaning

Now since we have extracted data from the website, it is not cleaned and ready to be analyzed yet. The reviews section will need to be cleaned for punctuations, spellings and other characters.

In [29]:
#imports

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [30]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [31]:
df.head()

,reviews,stars,date,country
0,"✅ Trip Verified | I had visa issues, and hen...",5.0,5th November 2024,India
1,✅ Trip Verified | Singapore to Heathrow with...,1.0,5th November 2024,United Kingdom
2,✅ Trip Verified | I recently travelled from ...,6.0,3rd November 2024,United Kingdom
3,Not Verified | I paid for seats 80 A and B on...,1.0,3rd November 2024,United States
4,"Not Verified | The flight wasn’t that bad, alt...",3.0,3rd November 2024,United Kingdom

In [32]:
df.dtypes

reviews     object
stars      float64
date        object
country     object
dtype: object

We will also create a column which mentions if the user is verified or not.

In [4]:
df['verified']  = df.reviews.str.contains("Trip Verified")

In [5]:
df['verified']

0        True
1        True
2        True
3       False
4       False
        ...
3495    False
3496    False
3497    False
3498    False
3499    False
Name: verified, Length: 3500, dtype: bool

Cleaning Reviews

We will extract the column of reviews into a separate dataframe and clean it for semantic analysis

In [12]:
#for lemmatization of words we will use nltk library
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
lemma = WordNetLemmatizer()


reviews_data = df.reviews.str.strip("✅ Trip Verified |")

#create an empty list to collect cleaned data corpus
corpus =[]

#loop through each review, remove punctuations, small case it, join it and add it to corpus
for rev in reviews_data:
    rev = re.sub('[^a-zA-Z]',' ', rev)
    rev = rev.lower()
    rev = rev.split()
    rev = [lemma.lemmatize(word) for word in rev if word not in set(stopwords.words("english"))]
    rev = " ".join(rev)
    corpus.append(rev)

In [13]:
# add the corpus to the original dataframe

df['corpus'] = corpus

In [14]:
df.head()

,reviews,stars,date,country,verified,corpus
0,"✅ Trip Verified | I had visa issues, and hen...",5.0,5th November 2024,India,True,visa issue hence debarred flying ground staff ...
1,✅ Trip Verified | Singapore to Heathrow with...,1.0,5th November 2024,United Kingdom,True,singapore heathrow ba two choice route economy...
2,✅ Trip Verified | I recently travelled from ...,6.0,3rd November 2024,United Kingdom,True,recently travelled munich london british airwa...
3,Not Verified | I paid for seats 80 A and B on...,1.0,3rd November 2024,United States,False,verified paid seat b flight heathrow boston pa...
4,"Not Verified | The flight wasn’t that bad, alt...",3.0,3rd November 2024,United Kingdom,False,verified flight bad although inflight entertai...

Cleaning/Format date

In [15]:
df.dtypes

reviews      object
stars       float64
date         object
country      object
verified       bool
corpus       object
dtype: object

In [23]:
# convert the date to datetime format

df.date = pd.to_datetime(df['date'], format='mixed')

In [24]:
df.date.head()

0   2024-11-05
1   2024-11-05
2   2024-11-03
3   2024-11-03
4   2024-11-03
Name: date, dtype: datetime64[ns]

Cleaning ratings with stars

In [45]:
#check for unique values
df.stars.unique()

array([ 5.,  1.,  6.,  3.,  7.,  9.,  2.,  8.,  4., 10., nan])

In [46]:
df.stars.value_counts()

stars
1.0     879
2.0     408
3.0     399
8.0     339
10.0    283
7.0     273
9.0     265
5.0     246
4.0     234
6.0     171
Name: count, dtype: int64

There is 1 row having values "None" in the ratings. We will drop this 1 row.

In [58]:
df.dropna(subset=["stars"], inplace=True)
df['stars'] = df['stars'].astype(int)
df.head()

,reviews,stars,date,country
0,"✅ Trip Verified | I had visa issues, and hen...",5,5th November 2024,India
1,✅ Trip Verified | Singapore to Heathrow with...,1,5th November 2024,United Kingdom
2,✅ Trip Verified | I recently travelled from ...,6,3rd November 2024,United Kingdom
3,Not Verified | I paid for seats 80 A and B on...,1,3rd November 2024,United States
4,"Not Verified | The flight wasn’t that bad, alt...",3,3rd November 2024,United Kingdom

In [59]:
#check the unique values again
df.stars.unique()

array([ 5,  1,  6,  3,  7,  9,  2,  8,  4, 10])