#  Data Cleaning

Now since we have extracted data from the website, it is not cleaned and ready to be analyzed yet. The reviews section will need to be cleaned for punctuations, spellings and other characters.

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#regex
import re

In [9]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/BA_reviews.csv", index_col=0)

In [10]:
df.head()

                                             reviews
0     Flew with British Airways club Europe on Sa...
1     Straightforward check in T5. New site for c...
2   I am beyond upset and disgusted with the disr...
3     I purchased round trip direct flight busine...
4   I booked two business class seats. We had a m...

We will also create a column which mentions if the user is verified or not.

In [11]:
df['verified'] = df.reviews.str.contains("Trip Verified")

In [12]:
df['verified']

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: verified, Length: 1000, dtype: bool